.experience
{
  position: absolute;
  top: -5px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: -1;

  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image:
   linear-gradient(-90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.mu-user-avatar {
  width: 250px;
  height: 250px;

  border-radius: 50%;
}

.border-2 {
  border: 2px solid $mu-color-dark-separator;
  padding: 2px;
}

.mu-edit-avatar {
  position: relative;
  top: 100px;
  right: 15px;
}

.mu-avatar-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding: 15px;
}

.mu-avatar-item {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  border: 2px solid $mu-color-dark-separator;

  padding: 2px;
  margin: 10px;

  cursor: pointer;

  &:hover {
    box-shadow: -3px 3px 10px -3px $mu-color-primary;
    transform: scale(1.025);
  }
}
