.breadcrumb {
  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  background-color: transparent;
  .brand {
    font-size: 38px;
    padding: 8px 3px 0;
    color: $primary;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  li {
    display: inline;
  }

}

.mu-navbar-avatar {
  justify-self: flex-end;
  .rounded-circle {
    cursor: pointer;
  }
}

.mu-breadcrumb-img {
  object-fit: contain;
  height: 38px;
  position: relative;

  @include media-breakpoint-down(lg) {
    max-width: 70vw;
  }
}

.mu-read-only {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: $mu-color-complementary;
  color: white;
  text-align: center;
  padding: 15px;
}
