.mu-certificate {
  border: 1px solid $mu-color-dark-separator;
}

.mu-certificate-name {
  margin-top: 0;
  margin-bottom: 1em;
}

.mu-certificate-data {
  margin-top: 30px;
}

.mu-certificate-buttons {
  margin-bottom: 30px;
}

.mu-certificate-download-btn {
  height: 35px;
  padding: 0;
  width: 157px;
  border: none;
}

.mu-certificate-download-btn-icon {
  padding: 8px 6px 9px 6px;
  width: 35px;
}
