.complementary label::after {
  background-color: $complementary;
  color: white;
  top: 6px;
}

.complementary label::before {
  top: 6px;
}

.complementary-checkbox {
  label::after {
    width: 17px;
    height: 17px;
    line-height: 14px;
    border-radius: 3px;
    border: 1px solid $complementary;
  }
  input[type="checkbox"]:disabled.mu-read-only + label {
    opacity: 1;
    cursor: unset;
  }
}

.complementary-radio{
  label::after {
    top: 9px;
  }
  input[type="radio"]:disabled.mu-read-only + label {
    opacity: 1;
    cursor: unset;
  }
}

