.mu-chapter-description p {
  display: inline-block
}

.mu-content-title-icons {
  display: flex;
  align-items: center;

  font-size: 150%;
  margin-left: 15px;
  margin-right: 15px;

  i {
    margin-left: 5px;
  }
}
