.submission-results .panel-heading {
  padding-top: 6px;
  padding-bottom: 6px;
}

.results-item {
  margin-top: 10px;
}

ul.results-list {
  list-style-type: none;
  padding-left: 10px;
  li:first-letter {
    text-transform: capitalize
  }
}

.results-list pre {
  margin-left: 15px;
}

.example-see-more {
  font-size: $font-size-base * 0.65;
  background: lighten($brand-complementary, 10%);
  border-radius: 6px;
  padding: 2px 5px;
  color: white;

  &:hover, &:focus {
    color: white;
  }
}

.mu-single-test-result {
  .error-text, /* backward compatibility with gobstones runner */
  .mu-test-result-header {
    display: block;
    line-height: 25px;
  }
}
