.exercise-assignment blockquote {
  @include border-radius(4px);
  background-color: $info-light;
  border-left: 8px solid $info;
  font-size: 15px;
  margin: 10px 0;
}

.exercise-assignment img {
  max-width: 100%;
}

.mu-editor-overlap {
  z-index: 0;
  position: relative;
}

.mu-editor {
  label p {
    margin: 0;
  }
}

.mu-editor-one-liner {
  .ace_content, .mu-empty-placeholder {
    margin: 4px 0 !important;
  }
}

