.submission-results .panel-heading {
  padding-top: 6px;
  padding-bottom: 6px;
}

.results-item {
  margin-top: 10px;
}

ul.results-list {
  list-style-type: none;
  padding-left: 10px;
  li:first-letter {
    text-transform: capitalize
  }
}

.results-list pre {
  margin-left: 15px;
}

.mu-view-details {
  &:hover, &:focus {
    color: white;
  }
}

.mu-single-test-result {
  .error-text, /* backward compatibility with gobstones runner */
  .mu-test-result-header {
    display: block;
    line-height: 25px;
  }
}
