.toast-container {
  position: fixed;
  color: white;
  z-index: 9999;

  .mu-toast-info {
    background-color: $mu-color-info;
  }
  .mu-toast-error {
    background-color: $mu-color-danger;
  }
  .mu-toast-success {
    background-color: $mu-color-success;
  }
  .mu-toast-warning {
    background-color: $mu-color-warning;
  }
}
