.social-icon {
  padding-top: 6px;
  font-size: 16px;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 2px solid $brand-info;
  border-radius: 50%;
  margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
  text-decoration: none;
  border-color: $brand-info-light;
  color: $brand-info-light;
}