$kids-height: calc(100vh - 100px - 30px) !default;

$kids-characters-height: 120px;
$kids-speech-arrow-size: 10px;
$kids-speech-border-color: lighten($mu-color-disabled, 20%);
$kids-speech-background-color: #f4f6fb;
$kids-scrollbar-background-color: #d7d9dd;

$kids-speech-border: 1px solid $kids-speech-border-color;

$kids-speech-tabs-width: 40px;

.mu-kids-exercise-workspace.mu-submitless-exercise .mu-kids-submit-button {
  display: none;
}

.mu-kids-exercise {
  height: $kids-height;
  min-height: $kids-height;
  max-height: $kids-height;
  @include media-breakpoint-down(lg) {
    //slightly larger navbar on lg, xl, xxl
    height: calc(#{$kids-height} + 30px);
    min-height: calc(#{$kids-height} + 30px);
    max-height: calc(#{$kids-height} + 30px);
  }

  display: flex;
  flex-direction: row;

  .mu-kids-exercise-description,
  .mu-kids-exercise-board {
    display: flex;
    flex-direction: column;
  }
  .mu-kids-exercise-description {
    padding-right: 15px;
  }

  .mu-kids-states {
    padding-bottom: 15px;
    height: $kids-height;
    @include media-breakpoint-down(lg) {
      //slightly larger navbar on lg, xl, xxl
      height: calc(#{$kids-height} + 30px);
    }
  }
  .mu-kids-character {
    padding: 15px;
  }
  .mu-kids-state {
    padding: 0;
  }
  .mu-kids-blocks {
    margin-top: 15px;
  }
  .mu-kids-state {
    height: 50%;
  }
  .mu-kids-character {
    height: $kids-characters-height;
  }
  .mu-kids-blocks {
    height: calc(#{$kids-height} - #{$kids-characters-height} - 30px);
    @include media-breakpoint-down(lg) {
      //slightly larger navbar on lg, xl, xxl
      height: calc(#{$kids-height} - #{$kids-characters-height});
    }

    margin-left: 0;
    margin-right: 0;
    position: relative;
    .mu-kids-overlay {
      border-radius: 10px;
      position: absolute;
      z-index: 80;
      background-color: white;
      opacity: 0.50;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      cursor: not-allowed;
    }
    .mu-kids-reset-button,
    .mu-kids-compass-rose,
    .mu-kids-submit-button {
      position: absolute;
      right: 15px;
      width: 56px;
      height: 56px;
      z-index: 70; //Value defined by blockly
    }
    .mu-kids-compass-rose {
      top: 15px;
      opacity: 0.75;
    }
    .mu-kids-submit-button {
      z-index: 90;
      bottom: 15px;
      button {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .mu-kids-reset-button {
      bottom: 80px;
      transform: scale(0.9);
      paper-fab {
        background-color: $mu-color-disabled;
      }
    }

  }

  .mu-kids-character-animation {
    width: $kids-characters-height;
  }

  .mu-kids-character {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: none;
    img {
      height: 100%;
    }
    .mu-kids-character-speech-bubble {
      &.failed, &.passed_with_warnings {
        padding-right: 20px;
      }
      .mu-kids-discussion-link {
        i {
          width: 13px;
          height: 13px;
          line-height: 13px;
          border-radius: 50%;
        }

      }

      @include media-breakpoint-only(md) {
        h4 {
          &.text-warning {
            font-size: 18px;
            margin-top: 8px;
          }
        }
        ul.results-list li {
          font-size: 13px
        }
        .mu-kids-states strong {
          font-size: 16px;
        }
      }

      @include media-breakpoint-down(sm) {
        h4 {
          font-size: 20px;
          &.text-warning {
            font-size: 14px;
            margin-top: 5px;
          }
        }
        ul.results-list li {
          font-size: 12px
        }
        .mu-kids-states strong {
          font-size: 14px;
        }
      }

      &.with-result-item {
        padding-top: 5px;
        padding-bottom: 5px;

        .results-list {
          margin-top: -10px;
        }
      }

      ul {
        margin: 0;
      }
      &.no-tabs {
        .mu-kids-prev-speech,
        .mu-kids-next-speech {
          right: 0px;
        }
      }
      .mu-kids-prev-speech,
      .mu-kids-next-speech {
        position: absolute;
        right: $kids-speech-tabs-width;
        color: darken($mu-color-disabled, 25%);
        &:hover {
          cursor: pointer;
        }
      }
      .mu-kids-character-speech-bubble-normal {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .mu-kids-character-speech-bubble-failed {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      .mu-kids-character-speech-bubble-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: $kids-speech-tabs-width;
        position: absolute;
        right: 0;
        top: 0;
        list-style-type: none;
        padding: 0;
        background-color: lighten($kids-speech-background-color, 2%);
        border-radius: 0 10px 10px 0;
        li {
          border-left: $kids-speech-border;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          padding: 0;
          margin: 0;
          height: 50%;
          width: 100%;
          &:first-child {
            border-radius: 0 10px 0 0
          }
          &:last-child {
            border-radius: 0 0 10px 0
          }
        }
        li.separator {
          cursor: default;
          pointer-events: none;
          height: 0;
          width: 100%;
          border-top: $kids-speech-border;
        }
        li.active {
          border-left: none;
          background-color: $kids-speech-background-color;
        }
      }
      .mu-kids-prev-speech {
        top: 0;
      }
      .mu-kids-next-speech {
        bottom: 0;
      }
      position: relative;
      display: flex;
      align-items: center;
      padding: 15px 50px 15px 15px;
      &.no-tabs {
        padding-right: 25px;
      }
      color: #333;
      border-radius: 10px;
      background: $kids-speech-background-color;
      border: $kids-speech-border;
      height: 90px;
      width: 100%;
      p {
        margin-bottom: 0;
        &:not(:first-child) {
          display: none;
        }
      }
      &:before {
        position: absolute;
        top: calc(50% - #{$kids-speech-arrow-size + 2px} / 2);
        left: -$kids-speech-arrow-size - 2px;
        border-width: (1px + $kids-speech-arrow-size / 2) (2px + $kids-speech-arrow-size) (1px + $kids-speech-arrow-size / 2) 0;
        content: '';
        border-style: solid;
        border-color: transparent $kids-speech-border-color;
      }
      &:after {
        position: absolute;
        top: calc(50% - #{$kids-speech-arrow-size} / 2);
        left: -$kids-speech-arrow-size;
        border-width: ($kids-speech-arrow-size / 2) $kids-speech-arrow-size ($kids-speech-arrow-size / 2) 0;
        border-color: transparent $kids-speech-background-color;
        content: '';
        border-style: solid;
      }

      $classes: (
              failed: $mu-color-danger,
              passed: $mu-color-success,
              aborted: $mu-color-broken,
              errored: $mu-color-broken,
              passed_with_warnings: $mu-color-warning
      );
      @each $status, $class in $classes {
        $lighten-class: lighten($class, 35%);
        &.#{$status} {
          border: none;
          background: $lighten-class;
          &:before {
            border: none;
          }
          &:after {
            border-color: transparent $lighten-class;
          }
        }
      }

    }

  }

  .mu-kids-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    strong {
      margin-top: 7.5px;
    }
    #mu-actual-state-text {
      display: none;
    }
    .mu-kids-state-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      gs-board {
        > table {
          transform: scale(1.5);
          background-color: $kids-speech-border-color !important;
          border: $kids-speech-border !important;
          border-radius: 12px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1px;
        max-height: 100%;
        td, th {
          &.gs-board {
            border: $kids-speech-border !important;
          }
          &.gbs_lx,
          &.gbs_lh,
          &.gbs_lv {
            background-color: $kids-speech-background-color !important;
            border: 0 solid transparent !important;
          }
          &.gbs_gh.gs-cell {
            background: rgba(221, 221, 136, 0.7) !important;
            outline: 3px solid $kids-speech-border-color !important;
          }
        }
      }
    }
  }
}

.mu-kids-blocks, .mu-read-only-editor {
  form,
  [id*="custom-editor"],
  gs-element-blockly,
  #blocklyDiv,
  .blocklySvg {
    min-width: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
  }
  gs-element-blockly {
    padding: 0;
    margin: 0;
  }
  .blocklyMainBackground {
    rx: 10px !important;
    ry: 10px !important;
  }
  .blocklyScrollbarHandle {
    fill: $kids-scrollbar-background-color !important;
    stroke: $kids-speech-border-color !important;
    stroke-width: 1px !important;
  }
  .blocklyMainWorkspaceScrollbar {
    display: none;
  }
  .blocklyScrollbarHorizontal {
    display: none;
  }
  .blocklyToolboxDiv {
    background-color: $kids-speech-background-color !important;
    border: $kids-speech-border !important;
    border-right: none !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  .blocklyFlyoutBackground {
    fill: $kids-speech-background-color !important;
    border: $kids-speech-border !important;
    border-right: none !important;
  }
}

$statuses-glow-animation: (
  failed: $mu-color-danger,
  passed_with_warnings: $mu-color-warning
);

@each $status, $color in $statuses-glow-animation {
  @keyframes glow-#{$status} {
    0% {
      box-shadow: 0 0 0 #ffff7f;
    }
    50% {
      box-shadow: 0 0 15px 4px $color;
      color: darken($color, 10%);
      transform: scale(1.2);
    }
    100% {
      box-shadow: 0 0 25px 4px transparent;
    }
  }

  .#{$status} .mu-kids-discussion-link {
    color: $color;
    i {
      -webkit-animation: glow-#{$status} 1.5s ease infinite;
      -moz-animation: glow-#{$status} 1.5s ease infinite;
      animation: glow-#{$status} 1.5s ease infinite;
    }
  }

}

.mu-kids-hint.blink i {
  width: 8px;
  height: 8px;
  line-height: 12px;
  margin: 0 2px 4px 0;
  -webkit-animation: hint-blink 1.5s ease infinite;
  -moz-animation: hint-blink 1.5s ease infinite;
  animation: hint-blink 1.5s ease infinite;
}

@keyframes hint-blink {
 50% {
   color: #7f7f00;
   background-color: rgba(255,255,0, 0.5);
   transform: scale(1.2);
 }
}

.mu-read-only-editor {
  #blocklyDiv {
    height: 400px !important;
  }
  #blocklyDiv {
    border: $kids-speech-border !important;
  }
  .blocklyMainBackground {
    stroke-width: 0px;
  }
}

.mu-kids-landscape-support {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: $kids-height;
  min-height: $kids-height;
  max-height: $kids-height;
}

@media screen and (orientation: landscape) {
  .mu-kids-landscape-support {
    display: none;
  }
  .mu-kids-exercise {
    visibility: unset;
  }
  .mu-kids-reset-button,
  .mu-kids-submit-button {
    display: block;
  }
}

@media screen and (orientation: portrait) {
  .mu-kids-landscape-support {
    display: flex;
  }
  .mu-kids-exercise {
    visibility: hidden;
  }
  .mu-kids-reset-button,
  .mu-kids-submit-button {
    display: none;
  }
}

@media screen and (max-height: map_get($grid-breakpoints, sm)) {
  .mu-kids-exercise {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    .mu-kids-states {
      height: 100vh;
    }
    .mu-kids-blocks {
      height: calc(100vh - #{$kids-characters-height} - 30px);
    }
  }
}
