@each $class in success, warning, danger, broken {
  .mu-kids-callout-#{$class} {
    h4 {
      @extend .text-#{$class};
    }
  }
}

$capital-animation-width: 135px;
.capital-animation {
  float: left;
  width: $capital-animation-width;
  height: $capital-animation-width;
  margin-left: -20px;
  margin-top: -20px;
}

.modal-open {
  .mu-kids-exercise,
  .mu-navbar,
  footer {
    filter: blur(5px);
  }
  .modal-header,
  .modal-footer,
  .modal-body {
    padding: 20px;
    .text-box,
    .submission-results {
      padding: 0;
    }
    .submission-result-error {
      padding-bottom: 30px;
    }
  }
}

.mu-kids-default-success {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0 0;
  img {
    padding-bottom: 10px;
  }
}

.mu-kids-modal-border {

  .modal-dialog {

    .modal-content {

      position: absolute;

      $width-lg: 800px;

      width: $width-lg;
      left: calc(50% - #{$width-lg} / 2);

      @media (max-width: $width-lg + 30px) {
        width: calc(100vw - 30px);
      }

      $border-width: 16px;
      border-width: $border-width;
      border-style: solid;
      border-color: $mu-color-link;
      border-radius: $border-width;
      box-shadow: none;

      $mu-statuses-colors: (
        'broken': $mu-color-broken,
        'danger': $mu-color-danger,
        'success': $mu-color-success,
        'warning': $mu-color-warning,
        'passed': $mu-color-success,
        'passed-with-warnings': $mu-color-warning,
        'failed': $mu-color-danger,
        'errored': $mu-color-broken,
        'aborted': $mu-color-broken,
        'pending': $mu-color-info
      );

      @each $class, $color in $mu-statuses-colors {
        &.#{$class} {
          border-color: $color;
          .mu-kindergarten-modal-button {
            background: $color;
          }
        }
      }
    }
  }
}
