.mu-kids-exercise.mu-kindergarten {

  // layout

  display: flex;
  flex-flow: column;

  .mu-kids-exercise-workspace {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
  }

  .mu-kids-single-state,
  .mu-kids-blocks {
    width: 50%;
    height: 100%
  }

  .mu-kids-blocks {
    margin-top: 0;
  }

  // no board numbers,
  // but a thicker border instead

  table.gbs_board.style-scope.gs-board {
    padding: 3px;
  }

  .gbs_lv.gbs_lvl.style-scope.gs-board,
  .gbs_lv.gbs_lvr.style-scope.gs-board,
  tr.style-scope.gs-board:first-child,
  tr.style-scope.gs-board:last-child {
    display: none
  }

  // no final state,
  // initial state fills its area

  .mu-kids-state.mu-state-initial {
    height: 100%;
  }

  .mu-kids-state.mu-state-final {
    display: none;
  }

  .mu-kids-compass-rose {
    display: none;
  }
}


