.mu-medal {
  &.outline {
    position: absolute;

    &.content {
      height: 75px;

      margin-left: 10px;
    }

    &.corollary {
      height: 150px;

      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  &.inlay {
    position: relative;
    border-radius: 50%;

    &.content {
      height: 55px;

      left: 20px;
      top: 17px;

      margin-right: 30px;
      margin-bottom: 15px;
    }

    &.corollary {
      height: 107px;

      display: block;
      top: 35px;

      margin: 0 auto 20px;
    }
  }

  &.unacquired {
    filter: grayscale(100%);
  }
}
