.mu-medal {
  &.outline {
    height: 100px;
    position: absolute;
    margin-left: 10px;
  }

  &.content {
    height: 70px;
    border-radius: 50%;

    position: relative;
    left: 25px;
    top: 24px;

    margin-right: 30px;
    margin-bottom: 15px;
  }

  &.outline-corollary {
    height: 150px;
    position: absolute;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  &.content-corollary {
    height: 107px;
    border-radius: 50%;

    display: block;
    position: relative;
    top: 35px;

    margin: 0 auto 20px;
  }

  &.unacquired {
    filter: grayscale(100%);
  }
}
