.modal .container {
  margin-top: 110px;
}

.modal-open {
  padding-right: 0px !important;
}

body {
  &.modal-open #wrap {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  &.new-message-modal-open #wrap {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }
}
