
.organization-row {
  height: 50px;
  margin-bottom: 20px;

  .mu-organization-chooser & {
    padding-right: 0;
    padding-left: 0;
  }
}

.organization-link {
  line-height: 50px;
}

.title-font {
  font-size: 1.33em;
}
