.progress-list-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    width: 100%;
    height: 10px;
    background-color: $gray-200;
    &:hover {
      text-decoration: none;
    }
    &.active:after {
      content: '•';
    }
  }
  .success {
    background-color: $success;
  }
  .warning {
    background-color: $warning;
  }
  .danger {
    background-color: $danger;
  }
  .info {
    background-color: $info;
  }
}
