.mu-user-header {
  padding: 10px 0px;

  display: flex;
  align-items: center;
}

.mu-profile-actions {
  vertical-align: middle;
  margin-left: auto;

  .btn {
    width: 150px;
    height: 55px;
    margin-left: 15px;
    transition: background-color 0.3s, border-color 0.3s;

    &[disabled], &[disabled]:hover {
      background-color: lighten($mu-color-complementary, 15%);
      border-color: lighten($mu-color-complementary, 15%);
    }
  }

  &.mobile {
    text-align: center;
    margin: 20px 5px -20px -10px;

    .btn {
      width: calc(50% - 20px);
    }
  }
}

.mu-profile-info {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
}

.mu-profile-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  .mu-level-progress {
    position: relative;
    top: -275px;
    margin-bottom: -275px;
  }
}

.mu-level {
  .mu-level-number {
    position: absolute;
    margin-top: 11px;
    margin-left: -86px;
    width: 87px;

    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;

    user-select: none;
    pointer-events: none;
  }
}

.mu-profile-info-right {
  flex-grow: 2;

  font-size: 20px;
  margin-top: 5px;

  div {
    margin-bottom: 15px;
    .italic {
      font-style: italic;
    }
  }
}

.mu-user-activity-indicator {
  text-align: center;
  padding: 0.5em;
}

