<% content_for :breadcrumbs do %>
  <%= header_breadcrumbs %>
<% end %>

<div class="mu-faqs">
  <h1><%= t(:faqs) %></h1>

  <div class="mu-faqs-container">
    <div class="mu-faqs-content">
      <%= @faqs %>
    </div>
    <div class="mu-faqs-navbar">
      <nav>
        <ul>
        </ul>
      </nav>
    </div>
  </div>

</div>
