<%= form_for([@exercise, @solution],
             remote: true,
             html: {role: 'form', class: 'new_solution mu-editor mu-editor-overlap'}) do |f| %>
    <%= render_exercise_input_editor f, @exercise %>

    <div class="actions mu-kids-submit-button">
      <%= render_submit_button(@exercise) %>
    </div>
<% end %>
