<div class="discussion-message">
  <div class="discussion-message-user-avatar">
    <%= user_avatar(user) %>
  </div>
  <div class="discussion-message-bubble-container">
    <%= yield %>
  </div>
</div>
