<div class="mu-user-header">
  <h1><%= t :forum_terms %></h1>
</div>

<div class="forum-terms">
  <% @forum_terms.each do |term| %>
    <div class="forum-term">
      <%= term.content_html %>
    </div>
  <% end %>
</div>

