<div class="modal fade" id="avatar-picker" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <h3 class="text-left" id="gridSystemModalLabel"><%= t :choose_your_avatar %> </h3>
        </div>
      </div>
      <div class="modal-body">
        <%= render partial: 'avatar_list' %>
      </div>
    </div>
  </div>
</div>
