<div class="modal fade guide-corollary" id="guide-done" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div class="guide-corollary-title">
          <h3 class="text-left" id="gridSystemModalLabel"><%= t :guide_finished, guide: guide.name %> </h3>
          <div class="fb-share-box pull-left">
            <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="large"></div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= corollary_box guide %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= next_lesson_button guide %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
