<div>
  <h3 class="text-center">
    <%= t :level_up %>
  </h3>
  <div class="text-center mu-level">
    <i class="fa fa-star fa-fw fa-4x"></i>
    <span class="mu-level-number"></span>
    <p></p>
    <p id="mu-solve-more-exercises"> <%= (t :solve_more_exercises_to_level_up).html_safe %></p>
  </div>
</div>
