<div class="modal fade mu-kids-results mu-kids-results-aborted" id="kids-results-aborted" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-broken">
          <strong><%= t :errored %></strong>
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="submission-result-error">
                <%= render partial: 'layouts/submission_result_error_body' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-complementary btn-block submission_control" data-bs-dismiss="modal" aria-label="<%= t :retry_exercise %>"> <%= t :retry_exercise %> </button>
      </div>
    </div>
  </div>
</div>
