<div class="modal fade mu-kids-results mu-kids-modal-border" id="kids-results" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content kindergarten">
      <button type="button" class="mu-kids-modal-button mu-close" data-waiting="" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-fw fa-times fa-3x"></i>
        </span>
      </button>
      <button type="button" class="mu-kids-modal-button mu-previous d-none" onclick="mumuki.kids.resultsCarrousel.prevSlide()" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fas fa-fw fa-arrow-left fa-3x"></i>
        </span>
      </button>
      <button type="button" class="mu-kids-modal-button mu-next" onclick="mumuki.kids.resultsCarrousel.nextSlide()" aria-label="Next">
        <span aria-hidden="true">
          <i class="fas fa-fw fa-arrow-right fa-3x"></i>
        </span>
      </button>
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-kids-results-carrousel">
                <div class="active submission-results kindergarten"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
