<div class="modal fade mu-kindergarten-context" id="mu-kids-context" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="mu-kindergarten-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fa fa-fw fa-times fa-3x"></i>
            </span>
        </button>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= exercise.description_context %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
