<div class="modal fade mu-kids-results-aborted mu-kindergarten-context" id="kids-results-aborted" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content broken">
      <button type="button" class="mu-kindergarten-modal-button mu-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fa fa-fw fa-times fa-3x"></i>
            </span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title text-broken">
          <strong><%= t :kindergarten_aborted %></strong>
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-kids-character">
                <img/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
