<div class="modal fade mu-kids-results-aborted mu-kids-modal-border" id="kids-results-aborted" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content broken kindergarten">
      <button type="button" class="mu-kids-modal-button mu-close" data-dismiss="modal" aria-label="Close" data-waiting="">
            <span aria-hidden="true">
              <i class="fas fa-fw fa-times fa-3x"></i>
            </span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title text-broken">
          <strong><%= t :aborted %></strong>
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-kids-character kindergarten">
                <img class="mu-kids-character-result-aborted"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
