<div class="modal fade mu-kids-modal-border" id="mu-kids-context" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content kindergarten">
      <button type="button" class="mu-kids-modal-button mu-close" data-waiting="" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fa fa-fw fa-times fa-3x"></i>
        </span>
      </button>
      <button type="button" class="mu-kids-modal-button mu-previous hidden" onclick="mumuki.kids.context.prevSlide()" aria-label="Previous">
        <span aria-hidden="true">
          <i class="fa fa-fw fa-arrow-left fa-3x"></i>
        </span>
      </button>
      <button type="button" class="mu-kids-modal-button mu-next" onclick="mumuki.kids.context.nextSlide()" aria-label="Next">
        <span aria-hidden="true">
          <i class="fa fa-fw fa-arrow-right fa-3x"></i>
        </span>
      </button>
      <div class="modal-body mu-kids-context-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= exercise.description_context %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
