<div class="modal fade mu-kids-results-aborted mu-kindergarten-context" id="kids-results-aborted" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content danger">
      <div class="modal-body">
        <button type="button" class="mu-kindergarten-close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fa fa-fw fa-times fa-3x"></i>
            </span>
        </button>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="mu-kindergarten-modal-markdown">
                <img src="https://images2.alphacoders.com/100/1003880.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
