<div class="modal fade new-discussion-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [@debatable, Discussion.new] do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="text-left">Nueva Consulta</h3>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row form-group">
              <div><%= f.text_field :title, class: 'form-control', placeholder: t(:title), required: true %></div>
            </div>
            <div class="row form-group">
              <div><%= f.text_area :description, class: 'form-control', placeholder: t(:description) %></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-block"> <%= t :send %> </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
