<div class="<%= "bs-callout bs-callout-#{icon_class_for contextualization.submission_status}" %>">
  <%= render partial: 'exercise_solutions/results_title', locals: {contextualization: contextualization} %>
  <%= yield %>
</div>
