<div class="<%= "bs-callout bs-callout-#{class_for_status contextualization.submission_status}" %>">
  <%= render partial: 'exercise_solutions/results_title', locals: {contextualization: contextualization} %>
  <%= yield %>
</div>
