<% expectation = assignment.visible_expectation_results.find { |it| it[:result].failed? } %>

<% if expectation %>
    <ul class="results-list">
      <li><%= status_icon(expectation[:result]) %> <%= t_expectation expectation %></li>
    </ul>
<% end %>
