<% if assignment.expectation_results_visible? %>
  <div class="results-item">
    <% unless assignment.exercise.input_kids?%>
      <strong><%= t :unmeet_expectations %>:</strong>
    <% end %>

    <ul class="results-list">
      <% assignment.affable_expectation_results.each do |it| %>
        <li><%= render_affable_expectation_result it %></li>
      <% end %>
    </ul>
  </div>
<% end %>
