<% expectation_results = assignment.visible_expectation_results%>

<% if assignment.expectation_results_visible? %>
  <div class="results-item">
    <% unless assignment.exercise.input_kids?%>
      <strong><%= t :unmeet_expectations %>:</strong>
    <% end %>

    <ul class="results-list">
      <% expectation_results.each do |it| %>
        <%= humanized_expectation_result_item it %>
      <% end %>
    </ul>
  </div>
<% end %>
