<div class="row w-100">
  <div class="col-md-12">
    <div class="actions">
      <% if assignment.solved? %>
        <%= next_exercise_button(@exercise) || close_modal_button %>
      <% else %>
        <button class="btn btn-complementary submission-control" id="kids-btn-retry" data-bs-dismiss="modal" aria-label="<%= t :retry_exercise %>"> <%= t :retry_exercise %> </button>
      <% end %>
    </div>
  </div>
</div>
