<%
  @guide = @exercise.guide
  @stats = @guide.stats_for(current_user)
%>

<div class="<%= "mu-kids-callout-#{icon_class_for assignment}" %>">
  <%= manual_evaluation_comment assignment %>
</div>

<% if @exercise.corollary.present? %>
  <img class="capital-animation mu-kids-corollary-animation"/>
  <%= corollary_box @exercise %>
<% else %>
  <div class="mu-kids-default-success">
    <img class="capital-animation mu-kids-character-result"/>
    <p><%= t :kids_default_success %></p>
  </div>
<% end %>
