<h4 class="text-<%= class_for_status(assignment.submission_status) %>">
  <strong><%= fa_icon icon_type_for_status(assignment.submission_status) %> <%= t_assignment_status assignment %></strong>
</h4>
