<div class="row">
  <h3><%= title %></h3>
  <% stats.each do |s| %>
    <div class="col-md-6">
      <div class="jumbotron mu-user-activity-indicator">
        <h1>
          <%= s[:value] %>
          <p><%= s[:name].downcase %></p>
        </h1>
      </div>
    </div>
  <% end %>
</div>
