<div class="terms-card">
  <details <%= 'open' unless collapsed %>>
    <summary class="terms-card-header">
      <h4><%= term.header %></h4>
    </summary>
    <div class="terms-card-body">
      <%= term.content_html %>
    </div>
  </details>
</div>
