<%= form_for :user, url: update_user_path, method: :put do |f| %>
  <div class="row mu-tab-body">
    <div class="col-md-4 text-center">
      <%= image_tag @user.profile_picture, size: '250x250', class: 'img-circle' %>
    </div>
    <div class="col-md-8">
      <%= render partial: 'profile_fields', locals: {form: f} %>
      <div><%= f.submit t(:save), class: 'btn btn-success btn-block' %></div>
    </div>
  </div>
<% end %>
