<%= form_for :user, url: update_user_path, :html => { id: 'mu-user-form' }, method: :put do |f| %>
  <div class="row mu-tab-body">
    <div class="col-md-4 text-center">
      <%= image_tag @user.profile_picture, class: 'mu-user-avatar', id: 'mu-user-avatar' %>
      <div class="experience" ><!-- style="position:relative!important"> -->
      </div>
    </div>
    <a class="mu-level" id="mu-level">
        12
    </a>
    <div class="col-md-8">
      <div class="col-md-8">
        <h4> Mi progreso </>
        <p> ...</p>
        <p> ... </p>
        <p> ...</p>
        <h4> Mis medallas </>
        <p></p>
        <p>
          <img src="https://image.flaticon.com/icons/png/512/321/321854.png" style="width:100px; height: 100px">
          <img src="https://user-images.githubusercontent.com/11304439/86490157-d48e3b80-bd3c-11ea-808c-937ac96fc67e.png" style="width:100px; height: 100px">
          <img src="https://user-images.githubusercontent.com/11304439/86490157-d48e3b80-bd3c-11ea-808c-937ac96fc67e.png" style="width:100px; height: 100px">
          <img src="https://user-images.githubusercontent.com/11304439/86490157-d48e3b80-bd3c-11ea-808c-937ac96fc67e.png" style="width:100px; height: 100px">
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :no_container do %>
    <%= render partial: 'layouts/modals/avatar_picker' %>
<% end %>
