<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <%= render partial: 'layouts/user_readable_table', locals: {
    title: t(:discussions),
    empty_legend: t(:discussions_will_be_here),
    readable_items: @watched_discussions,
    group_by: proc { |it| it.read_by? @user },
    table: {
      '' => { class: 'mu-readable-item-icon', proc: proc { |it| icon_for_read(it.read_by? @user) } },
      t(:exercise) => { proc: proc { |it| link_to it.item.name, item_discussion_path(it) } },
      t(:discussion_created_by) => { proc: proc { |it| discussion_user_name(it.initiator) } },
      t(:last_message) => { class: 'col-md-3', proc: proc { |it| friendly_time(it.last_message_date, :time_since) } }
    }
  } %>
</div>
