<%= render layout: 'layouts/users', locals: {users: @users} do %>
  <%= bootstrap_form_tag url: users_path, method: :get do |f| %>

    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">

        <div class="input-group-btn">
          <button id="search" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
