<%= content_for :breadcrumbs do %>
  <%= breadcrumbs_for_my_account %>
<% end %>

<div class="row">
  <%= render partial: 'layouts/user_menu' %>

  <%= render partial: 'layouts/user_readable_table', locals: {
    title: t(:notifications),
    empty_legend: t(:notifications_will_be_here),
    readable_items: @notifications,
    group_by: proc { |it| it.read? },
    table: {
      '' => { class: 'mu-readable-item-icon', proc: method(:notification_toggle_read) },
      t(:notification) => { class: 'text-break mu-notifications-content', proc: method(:notification_content) },
      t(:created_at) => { class: 'col-md-3', proc: proc { |it| friendly_time(it.created_at, :time_since) } }
    }
  } %>
</div>

<script type="text/javascript" charset="utf-8">
  mumuki.resize(() => {
    $('.mu-notifications-content').each((_i, el) => {
      const $el = $(el);
      const container = $el.find('.mu-notifications-body')[0];
      const content = $el.find('.mu-notifications-body-content')[0];

      if (container.offsetHeight > content.offsetHeight) {
        $el.find('.mu-notifications-arrow').hide();
      } else {
        $el.find('.mu-notifications-arrow').show();
      }
    });
  });
</script>
