<h1><%= t :profile_of, username: @user.name %></h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'layouts/exercise_panel/panel',
               heading: t(:latest_exercises).titleize.pluralize,
               exercises: @user.exercises,
               more_link: nil %>
  </div>
  <div class="col-md-6">
    <%= render 'layouts/guides_panel/panel',
               heading: t(:latest_guides).titleize.pluralize,
               guides: @user.guides,
               more_link: nil %>
  </div>
</div>
