<h1><%= @user.name %></h1>

<%= render 'layouts/exercise_panel/panel',
           heading: t(:exercise).titleize.pluralize,
           exercises: @user.exercises,
           more_link: user_exercises_path(@user) %>

<%= render 'layouts/guides_panel/panel',
           heading: t(:guide).titleize.pluralize,
           guides: @user.guides,
           more_link: user_guides_path(@user) %>

<% restricted_to_current_user(@user) do %>
    <%= render 'layouts/submissions_panel/panel',
               heading: t('submission').titleize.pluralize,
               submissions: @user.submissions,
               more_link: submissions_path %>
<% end %>
