.mumuki {
  text-align: center;
  h1 {
    font-size: 45px;
    margin: 0;

    .ahahamojimoji {
      font-size: 180px;
    }
  }

  h2 {
    margin: 15px 0px;
    font-size: 35px;
  }

  .logo {
    margin-top: -95px;
  }
}

.logged {
  margin-top: 15px;
}
