.breadcrumb {
  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  background-color: transparent;
  .brand {
    font-size: 44px;
    a {
      color: $brand-primary;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  li { display: inline; }

}
