.breadcrumb-left {
  margin-left: 15px;
}

.breadcrumb-right {
  float: right !important;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}

.breadcrumb {
  margin: 0;
  padding: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  background-color: transparent;
  .ahahamojimoji {
    font-size: 44px;
    a {
      color: $brand-primary;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  li { display: inline; }

}