.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-info {
  border-left-color: $brand-info;
  h4 {
    color: $brand-info;
  }
}

.bs-callout-success {
  border-left-color: $brand-success;
  h4 {
    color: $brand-success;
  }
}

.bs-callout-danger {
  border-left-color: $brand-danger;
  h4 {
    color: $brand-danger;
  }
}

.bs-callout-warning {
  border-left-color: $brand-warning;
  h4 {
    color: $brand-warning;
  }
}
