@mixin display-flex($flow: row nowrap, $justify-content: flex-start, $align-items: center) {
  display: flex;
  flex-flow: $flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

.messages {
  ::selection {
    background: rgba(82, 179, 217, 0.3);
    color: inherit;
  }
  a {
    margin: auto;
  }

  /* M E S S A G E S */

  .chat {
    list-style: none;
    background: $mu-color-content-editable;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 0 0 0 0;
    height: 253px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .other .msg {
    order: 1;
    border-top-left-radius: 0;
  }
  .self {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .self .msg {
    order: 1;
    border-top-right-radius: 0;
  }
  .self .avatar {
    order: 2;
  }
  .msg {
    background: white;
    border: 1px solid #e6e6e6;
    min-width: 50px;
    padding: 10px;
    border-radius: 15px;
  }
  .msg p {
    font-size: 0.9em;
    margin: 0 0 0.2rem 0;
    color: #777;
  }
  .msg img {
    :not(.emoji) {
      position: relative;
      display: block;
      border-radius: 5px;
      transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    &.emoji {
      margin-top: -5px;
    }
  }
  .msg .sender {
    font-weight: bold;
    font-size: 0.75em;
    color: #ccc;
    margin-top: 3px;
    float: left;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .msg time {
    font-size: 0.75em;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 15px;
  }
  .msg time:before {
    content: "\f017";
    color: #ccc;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
  }
  .passed {
    background-color: $brand-success-light;
  }
  .failed {
    background-color: $brand-danger-light;
  }
  .passed_with_warning {
    background-color: $brand-warning-light;
  }
}

.view-messages {
  overflow-x: hidden;
  overflow-y: auto;

  .chat {
    height: 500px;

    .solution {
      @include display-flex(column, flex-start, flex-end);
      border: none;
      border-top: 1px solid #cccccc;
      border-radius: 0;
      width: 100%;

      a {
        align-self: center;
        margin: auto;
        cursor: pointer;
        top: 0;
        text-decoration: none;
      }

      div {
        width: 100%;

        &.magia-no {
          height: 100px;
          overflow: auto;
        }

        &.magia {
          height: 100%;
        }
      }

      pre {
        background: none;
        font-size: 0.7em;
        margin-top: 0;
        border: none;
        border-radius: 0;
      }
    }
  }
}

