#console {
  position: relative;
}

.editor-code {
  position: relative;
  min-height: 300px;
  max-height: none;
}

.submission-reset {
  padding: 5px;
  cursor: pointer;
}

.editor-resize {
  position: absolute;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 0.5em;
}

.multiple-editor-resize {
  @extend .editor-resize;
  top: 43px;
}

body:not(.fullscreen) {
  .CodeMirror-wrap,
  .CodeMirror-scroll {
    height: auto;
    min-height: 300px;
  }
}

body.fullscreen {
  overflow: hidden;
  form.new_solution {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 120;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: white;
    .editor-code {
      margin: 0;
    }
    .btn-submit {
      display: none;
    }
    .CodeMirror-wrap {
      margin: 0;
      height: 100vh;
      width: 100vw;
    }
    .CodeMirror-scroll {
      height: inherit;
      overflow-y: scroll;
      overflow-x: auto;
    }
    .submission-reset,
    .editor-resize {
      margin-right: 15px;
    }
  }
}

.editor-files {
  position: relative;
}

.files-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -6px;

  .nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    li {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 0;
        padding: 5px 10px;
      }
      &.active {
        a {
          background-color: #f7f7f7;
        }
      }
      &:not(.active) > a {
        background-color: #fff;
        border: 1px solid #ecf0f1;
        cursor: pointer;
        &:hover {
          background-color: #ecf0f1;
        }
      }
    }
  }
}

