.submission-results {
  margin-top: 15px;

  .panel-heading {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.results-item {
  margin-top: 10px;
}

ul.results-list {
  list-style-type: none;
  padding-left: 10px;
}

.results-list pre {
  margin-left: 15px;
}
