.exercise-assignment blockquote {
  @include border-radius(4px);
  background-color: $brand-info-light;
  border-left: 8px solid $brand-info;
  font-size: 15px;
}

.mu-editor-overlap {
  z-index: 0;
  position: relative;
}

.mu-editor {
  .form-group {
    margin: 10px 0;
  }
  input[type=radio] {
    margin: 4px;
    & + label {
      font-weight: normal;
    }
  }
  label p {
    margin: 0;
  }
}
