.exercise-assignment blockquote {
  @include border-radius(4px);
  background-color: $brand-info-light;
  border-left: 8px solid $brand-info;
  font-size: 15px;
}

.editor-overlapped {
  margin: -45px 0px 10px 0;
  z-index: 10;
  position: relative;
  text-align: right;
}

.editor-reset {
  padding: 4px;
  cursor: pointer;
}

.editor-overlap {
  z-index: 0;
  position: relative;
}
