.follow-us-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.follow-us {
  font-size: 32px;
  color: #777;
}

.social-icon {
  padding-top: 6px;
  font-size: 16px;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 2px solid #777;
  border-radius: 50%;
  color: #777;
  margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
  text-decoration: none;
  color: #434343;
  border-color: #434343;
}