.social-icon {
  padding-top: 6px;
  font-size: 16px;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 2px solid #18bc9c;
  border-radius: 50%;
  margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
  text-decoration: none;
  border-color: #39D4B6;
  color: #39D4B6;
}

.lang-icon {
  padding-top: 6px;
  font-size: 28px;
  text-align: center;
  width: 44px;
  height: 44px;
  //  border: 1px solid #2C3E50;
  //    border-radius: 50%;
  margin: 5px;
}
