/* See https://github.com/jneen/rouge/wiki/List-of-tokens */

pre {
  background-color: #f0f0f5;
}

.CodeMirror {
  line-height: 1.3;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* identifier */
.cm-def {
  color: black !important;
}

/* keyword */
.cm-keyword {
  color: $brand-info !important;
  font-weight: bold !important;
}

/* literal */
.cm-number, .cm-builtin {
  color: #369434 !important;
}

/* operator */
.cm-operator {
  color: $brand-complementary !important;
  font-weight: bold !important;
}

/* comment */
.cm-comment {
  color: grey !important;
}

/* Punctuation*/
.ace_punctuation,
.ace_paren,
.p,
.ace_keyword.ace_operator.ace_definition.ace_prolog,
pre code {
  color: black !important;
  font-weight: normal !important;
}

/** Prolog Specific */

/** Variables **/
.ace_variable.ace_prolog,
.prolog .nv {
  color: $brand-info !important;
  font-weight: normal !important;
}

/** Atoms */
.ace_name.ace_prolog,
.ace_atom.ace_prolog,
.prolog .ss {
  color: $brand-primary !important;
  font-weight: normal !important;
}

.w {
  color: #bbbbbb
}

/* Text.Whitespace */
.si {
  color: #d01040
}

/* Literal.String.Interpol */

