/* See https://github.com/jneen/rouge/wiki/List-of-tokens */

pre {
  background-color: #f0f0f5;
}

/* identifier */
.na, .nb, .nc, .no, .nd, .ni, .bp, .vc, .vg, .vi, .nx, .nv,
.nn, .nt,
.ace_function,
.ace_variable,
.ace_parameter,
.ace_identifier,
.ne,
.nf,
.nl {
  color: black !important;
}

/* keyword */
.k, .kn, .kp, .kr, .kt, .kd, .ace_keyword, .ace_type {
  color: $brand-info  !important;
  font-weight: bold !important;
}

/* literal */
.m, .mf, .mh, .mi, .mo,
.s, .sb, .sc, .sd, .s2, .se, .sh, .sx, .sr, .s1, .ss,
.kc,
.il,
.l,
.ace_boolean, .ace_numeric,
.ace_string, .ace_symbol,
.ace_hexadecimal, .ace_character,
.ace_decimal {
  color: #369434 !important;
}

/* operator */
.ow, .o,
.ace_operator,
.ace_meta.ace_rule.ace_definition.ace_prolog {
  color: $brand-complementary !important;
  font-weight: bold !important;
}

/* comment */
.ace_comment, .c, .cm, .cp, .c1, .cs {
  color: grey !important;
}

/* Punctuation*/
.ace_punctuation,
.ace_paren,
.p,
.ace_keyword.ace_operator.ace_definition.ace_prolog,
pre code {
  color: black !important;
  font-weight: normal !important;
}

/** Prolog Specific */

/** Variables **/
.ace_variable.ace_prolog,
.prolog .nv {
  color: $brand-info !important;
  font-weight: normal !important;
}

/** Atoms */
.ace_name.ace_prolog,
.ace_atom.ace_prolog,
.prolog .ss {
  color: $brand-primary !important;
  font-weight: normal !important;
}

.w { color: #bbbbbb } /* Text.Whitespace */
.si { color: #d01040 } /* Literal.String.Interpol */

