$kids-height: calc(100vh - 80px - 103px);
$kids-Characters-height: 120px;

.mu-kids-exercise {
  height: $kids-height;
  min-height: $kids-height;
  max-height: $kids-height;

  .mu-kids-character,
  .mu-kids-blocks,
  .mu-kids-gbs-board-expected,
  .mu-kids-gbs-board-actual {
    border: 1px solid $mu-color-disabled;
    border-radius: 4px;
  }
  .mu-kids-character,
  .mu-kids-gbs-board-expected,
  .mu-kids-gbs-board-actual {
    padding: 15px;
  }
  .mu-kids-blocks,
  .mu-kids-gbs-board-actual {
    margin-top: 15px;
  }
  .mu-kids-gbs-board-expected,
  .mu-kids-gbs-board-actual {
    height: calc(#{$kids-height} / 2 - 15px);
  }
  .mu-kids-character {
    height: $kids-Characters-height;
  }
  .mu-kids-blocks {
    height: calc(#{$kids-height} - #{$kids-Characters-height} - 30px);
    margin-left: 0;
    margin-right: 0;
  }
  .mu-kids-exercise-description {
    padding-right: 0;
  }

  [class^="mu-kids-gbs-board"] {
    display: flex;
    gs-board {
      > table {
        transform: scale(1.5);
      }
      display: block;
      margin: auto;
      td, th {
        padding: 1px;
        span {
          vertical-align: middle;
        }
      }
    }
  }

  .mu-kids-blocks {
    form,
    #custom-editor,
    gs-element-blockly,
    #blocklyDiv {
      min-width: 100%;
      min-height: 100%;
      width: 100%;
      height: 100%;
    }
    gs-element-blockly {
      padding: 0;
      margin: 0;
    }
  }

}
