@each $class in success, warning, danger, broken {
  .mu-kids-callout-#{$class} {
    h4 {
      @extend .text-#{$class};
    }
  }
}

$capital-animation-width: 135px;
.capital-animation {
  float: left;
  width: $capital-animation-width;
  height: $capital-animation-width;
  margin-left: -20px;
  margin-top: -20px;
}

.modal-open {
  .mu-kids-exercise,
  .mu-navbar,
  footer {
    filter: blur(5px);
  }
  .modal-header,
  .modal-footer,
  .modal-body {
    padding: 20px;
    .text-box,
    .submission-results {
      padding: 0;
    }
    .submission-result-error {
      padding-bottom: 30px;
    }
  }
}

.mu-kids-default-success{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    padding-bottom: 10px;
  }
  padding: 20px 0 0;
}

