.new-message-modal {
  width: 0px;
  pre {
    max-height: 300px;
    overflow: auto;
  }
  .modal-content {
    width: 400px;
  }
  .modal-dialog {
    position: fixed;
    right: -50px;
    bottom: -30px;
  }
  .mu-modal-header {
    @include display-flex(row nowrap, space-between);
    height: 40px;
    background-color: $brand-info;
    padding: 0 15px 0 15px;
    .mu-modal-header-text {
      color: white;
    }
    .mu-modal-close-button {
      background-color: transparent;
      color: white;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      padding: 0;
    }
  }
  .mu-message-textarea {
    &:focus {
      outline: -webkit-focus-ring-color none 0;
    }
    resize: none;
    border: none;
    height: 250px;
    width: 100%;
  }
}

