.modal-backdrop {
  background: #f7f7f7;
}

.modal .container {
  margin-top: 110px;
}

.modal-open {
  padding-right: 0px !important;
}

body.modal-open #wrap{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.organization-row {
  height: 50px;
  margin-bottom: 20px;
}

.organization-link {
  line-height: 50px;
}

.no-padding-sides {
  padding-right: 0;
  padding-left: 0;
}

.title-font {
  font-size: 1.33em;
}
