.progress-list-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  a {
    position: relative;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    width: 100%;
    height: 10px;
    background-color: $gray-lighter;
    &:hover {
      text-decoration: none;
    }
    &.active:after {
      content: '•';
    }
    &.kids {
      height: 3px;
      border: transparent;
      &.active:after {
        content: unset;
      }
    }
  }
  .success {
    background-color: $brand-success;
  }
  .warning {
    background-color: $brand-warning;
  }
  .danger {
    background-color: $brand-danger;
  }
  .progress-list-flex-exercise-number {
    position: absolute;
    margin-top: -8px;
    text-align: center;
    color: white;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    width: 20px;
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: $gray-lighter;
    &.success {
      background-color: $brand-success;
    }
    &.warning {
      background-color: $brand-warning;
    }
    &.danger {
      background-color: $brand-danger;
    }
  }
}
