<style type="text/css">
  @font-face {
    font-family: "AhahaMojimoji";
    src: url(<%= asset_path('AhahaMojimoji.woff') %>) format("woff");
  }

  .ahahamojimoji {
    font-family: "AhahaMojimoji", Verdana, Tahoma;
  }

  .logo {
    font-size: 200px;
  }
</style>
<h1 class="ahahamojimoji text-center logo" style="margin-bottom: -40px">ム</h1>
<h2 class="ahahamojimoji text-center" style="margin-top: -40px"><small>ムムキ</small></h2>
<h2 class="text-center">Mumuki</h2>
<h4 class="text-center">Aprendé a Programar</h4>



