<div class="row">
  <div class="col-md-6">
    <%= render 'layouts/exercise_panel/panel',
               heading: t('latest_exercises'),
               exercises: @latest_exercises,
               more_link: exercises_path %>
  </div>
  <div class="col-md-6">
    <%= render 'layouts/exercise_panel/panel',
               heading: t('hottest_exercises'),
               exercises: @hottest_exercises,
               more_link: exercises_path %>
  </div>
</div>


<% if current_user? %>

    <div class="row">
      <div class="col-md-6">
        <%= render 'layouts/exercise_panel/panel',
                   heading: t('my_exercises'),
                   exercises: @hottest_exercises,
                   more_link: exercises_path(owned_only: true) %>
      </div>

      <div class="col-md-6">
        <%= render 'layouts/panel/panel',
                   heading: t('my_submissions'),
                   item_partial: 'submission',
                   items: @my_submissions,
                   more_link: submissions_path %>
      </div>
    </div>
<% end %>
