<% if current_user? %>
  <div style="<%= 'display:none' unless editor_visible %>">
    <%= exercise_form @exercise %>
  </div>
<% else %>
  <p><%= t :you_must_sign_in_before_submitting %></p>

  <div class="actions">
    <%= login_anchor class: 'btn btn-primary' %>
  </div>
<% end %>