<% if current_user? %>
  <div>
    <%= exercise_form @exercise, local_assigns %>
  </div>
<% else %>
  <p><%= t :you_must_sign_in_before_submitting %></p>

  <div class="actions">
    <%= login_anchor class: 'btn btn-success btn-block' %>
  </div>
<% end %>