<div class="console">
</div>
<div class="console-overlapped">
  <a class="console-reset"><%= fa_icon('trash-o', text: t(:reset))%></a>
</div>
<div class="actions">
  <%= next_button(@exercise) || next_button(@exercise.guide.lesson) %>
</div>
