<div class="console">
</div>
<div class="submission-overlapped">
  <a class="console-reset submission-reset"><%= reset_button %></a>
</div>
<div class="actions">
  <%= next_button(@exercise) || next_button(@exercise.guide.lesson) %>
</div>
