<div class="console">
  <div class="editor-overlapped">
    <a class="clear-console"><%= fa_icon('trash-o', text: 'borrar')%></a>
  </div>
</div>
<div class="actions">
  <%= next_button(@exercise) || next_button(@exercise.guide.lesson) %>
</div>
