<div class="console">
</div>
<div class="pull-left">
  <div class="btn btn-info clear-console"> <%= t :clear_console %></div>
</div>
<div class="pull-right">
  <%= next_button(@exercise) || next_button(@exercise.guide.lesson) %>
</div>
