<div class="mu-form">
  <% exercise.pretty_choices.each do |choice| %>
    <div class="form-check">
      <%= check_box_tag(choice.id, '1', checked?(choice, content), disabled: true, class: 'solution-choice form-check-input mu-read-only-input', 'data-index' => choice.index) %>
      <%= label_tag(choice.id, choice.text, class: 'form-check-label') %>
    </div>
  <% end %>
</div>
