<div>
  <% exercise.pretty_choices.each do |choice| %>
    <div class="field radio complementary complementary-radio">
      <%= radio_button_tag :content, choice.value, checked?(choice, content), disabled: true, class: 'mu-read-only' %>
      <%= label_tag(choice.id, choice.text) %>
    </div>
  <% end %>
</div>
