<%= render layout: 'layouts/error' do %>
    <div class="body">
      <p>
        <%= t(:forbidden_explanation, error: link_to_status_codes(403)).html_safe %>
      </p>
    </div>
    <p>
      <a class="btn btn-success" href="/"> <%= t(:back_to_mumuki) %> </a>
    </p>
<% end %>


