<%= render layout: 'layouts/error' do %>
    <div class="header">
      <img class="error-code-img" src="/error_403_mebi.svg">
    </div>
    <div class="body">
      <p>
        <%= t(:error_description, error: link_to_status_codes(403)).html_safe %>
      </p>
      <p>
        <%= Organization.current.explain_error(403, explanation).html_safe %>
      </p>
      <p>
        <%= t(:contact_administrator, link: mail_to_administrator).html_safe %>
      </p>
    </div>
<% end %>


