<%= render layout: 'layouts/error' do %>
    <div class="header">
      <img class="error-code-img" src="/error/500.svg">
    </div>
    <div class="body">
      <h2><%= t('error.title.internal_server_error') %></h2>
      <p class="mu-error-status-line">
        <%= t(:error_description, error: link_to_status_codes(500)).html_safe %>
      </p>
      <p class="mu-error-contact-line">
        <%= link_to_issues(:let_us_know).html_safe %>
      </p>
    </div>
<% end %>
