<%= render layout: 'layouts/error' do %>
    <div class="header">
      <img class="error-code-img" src="/error_404.svg">
    </div>
    <div class="body">
      <p>
        <%= t(:not_found_explanation, error: link_to_error_404, issues: link_to_issues(:let_us_know)).html_safe %>
      </p>
      <p>
        <a class="btn btn-success" href="/"> <%= t(:back_to_mumuki) %> </a>
      </p>
    </div>
<% end %>
