<%= render layout: 'layouts/error' do %>
    <div class="header">
      <img src="/astor.png">
    </div>
    <div class="body">
      <p class="mu-error-status-line">
        <%= t(:unauthorized_explanation, error: link_to_status_codes(401)).html_safe %>
      </p>
    </div>
<% end %>

