<div class="editor-code">
  <%= form.editor :content, 'dynamic',
                  placeholder: t(:editor_placeholder),
                  class: 'form-control editor',
                  value: @current_content,
                  data: {lines: 17},
                  autocomplete: 'off' %>
  <div class="mu-overlapped">
    <%= expand_icon %>
    <%= format_icon %>
    <%= restart_icon 'editor', {'data-confirm': t(:confirm_reset)} %>
  </div>
</div>
