<div>
  <% exercise.language.custom_editor_js_urls.each do |js| %>
      <script src="<%=js%>"></script>
  <% end %>

  <% exercise.language.custom_editor_css_urls.each do |css| %>
    <link rel="stylesheet" href="<%=css%>" />
  <% end %>

  <% exercise.language.custom_editor_html_urls.each do |html| %>
      <link rel="import" href="<%=html%>" />
  <% end %>

  <div id="custom-editor"></div>
  <%= form.hidden_field :content, id: "custom-editor-value", value: @exercise.default_content %>
</div>
