<%= render_runner_assets @exercise.language, :editor %>

<div id="custom-editor"></div>
<%= form.hidden_field :content, id: "custom-editor-value" %>
<%= form.hidden_field :content_metadata, id: "custom-editor-metadata", value: @current_content %>
