<div>
  <%= render partial: 'layouts/runner_assets', locals: {language: @exercise.language, prefix: 'custom_editor'} %>

  <div id="custom-editor"></div>
  <%= form.hidden_field :content, id: "custom-editor-value", value: @exercise.default_content %>
</div>
