<%= render_runner_assets @exercise.language, :editor %>

<div id="mu-custom-editor"></div>
<%= form.hidden_field :content, id: "mu-custom-editor-value" %>
<%= form.hidden_field :content_metadata, id: "mu-custom-editor-metadata", value: @current_content %>
<%= form.hidden_field :content_extra, id: "mu-custom-editor-extra", value: @exercise.extra %>
