<%= form.hidden_field :content, value: @current_content %>

<div id="mu-puzzle">
</div>

<script>
  const persistent = new headbreaker.Canvas('mu-puzzle', { width: 500, height: 500, strokeWidth: 0, borderFill: 4 });
  persistent.renderPuzzle(headbreaker.Puzzle.import(JSON.parse($('#solution_content').val())));
  persistent.draw();
</script>
