<div class="mu-editor-one-liner">
  <%= form.editor :content, 'dynamic',
                  class: 'form-control editor d-none',
                  value: @current_content,
                  data: {lines: 1} %>
</div>
