<div class="field form-group mu-editor-one-liner">
  <%= form.editor :content, 'dynamic',
                  class: 'form-control editor',
                  value: @current_content,
                  style: 'display: none'%>
</div>
