<div class="form-group">
  <input id="solution_content" type="text" name="solution[content]" style="display: none">
  <input id="upload" type="file" class="upload submission-control" size="5120" accept="text/*"/>
</div>
