.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 55px;
}

.container.full-width {
  width: 100%;
}

.user-menu {
  margin: 20px 0;
  text-align: right;
  #profileDropdown {
    cursor: pointer;
  }
}

.mu-footer {
  &.container {
    margin-top: 45px;
  }
  .mu-footer-terms {
    font-size: 15px;
    text-align: center;
  }
}

.page-header {
  margin-top: 20px;
}

.navbar-default {
  background-image: none;
}

.exercise-search-box {
  width: 263px;
  position: fixed
}

.exercise-panel {
  background-color: ghostwhite;
}

.actions {
  text-align: center;
}

.pagination-inline {
  margin: 21px 0;
}

.profile-image-nav {
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-tab {
  padding: 5px 10px 5px 10px !important;
}

.mu-input-panel {
  margin-top: 5px;
}

.text-box {
  text-align: justify;

  .table {
    width: inherit;
    max-width: inherit;
    td {
      vertical-align: middle;
    }
  }
}

.mu-last-box {
  margin-bottom: 45px;
}

.hint-box {
  margin-bottom: 20px;
}

pre {
  font-size: 14px;
  line-height: 1.4;
}

.mu-tab-body {
  margin-top: 20px;
}

hr {
  margin: 15px 0;
}

/* TODO: move to mumuki-styles */
.mu-inline-block-left {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.mu-org-link {
  padding-left: 5px;
}

.mu-content-toolbar-item {
  font-size: 60%;
  vertical-align: middle;
  .fa {
    margin: 0;
    padding: 0;
  }
}
