html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 55px;
}

.container.full-width {
  width: 100%;
}

.user-menu {
  margin: 20px 0;
  text-align: right;
  #profileDropdown {
    cursor: pointer;
  }
}

body {
  margin-bottom: 110px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  .container {
    margin-top: 33px;
  }
}

.page-header {
  margin-top: 20px;
}

.navbar-default {
  background-image: none;
}

.alert {
  margin: 10px 50px 10px 15px;
}

.alert-danger a {
  color: greenyellow;
}

.exercise-search-box {
  width: 263px;
  position: fixed
}

.exercise-panel {
  background-color: ghostwhite;
}

.actions {
  text-align: center;
}

.pagination-inline {
  margin: 21px 0;
}

.profile-image-nav {
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor-tab {
  padding: 5px 10px 5px 10px !important;
  cursor: pointer;
}

.mu-input-panel {
  margin-top: 5px;
}

h1 {
  margin-top: 10px;
}

.text-box {
  text-align: justify;

  .table {
    width: inherit;
    max-width: inherit;
    td {
      vertical-align: middle;
    }
  }
}

.mu-last-box {
  margin-bottom: 45px;
}

.hint-box {
  margin-bottom: 20px;
}

pre {
  font-size: 14px;
  line-height: 1.4;
}

.mu-tab-body {
  margin-top: 20px;
}

hr {
  margin: 15px 0;
}

/* TODO: move to mumuki-styles */
.mu-inline-block-left {
  margin-left: 15px;
}

.mu-inline-block-right {
  float: right !important;
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}

.mu-org-link {
  padding-left: 5px;
}

.mu-content-toolbar-item {
  font-size: 60%;
  vertical-align: middle;
  .fa {
    margin: 0;
    padding: 0;
  }
}

h3 {
  margin-top: 20px;
}
