<%= content_for :breadcrumbs do %>
  <%= breadcrumbs @authorization_request %>
<% end %>

<div class="row">
  <div class="mu-inline-block-left">
    <h1>
      <%= t :exam_registration_to, description: @authorization_request.exam_registration.description %>
    </h1>
  </div>
</div>

<%= render partial: "exam_authorization_requests/#{@authorization_request.status}" %>
