<%= render layout: 'layouts/guide', locals: {current_tab: :contributors} do %>
  <div>
    <ul>
      <% @contributors.each do |contributor| %>
        <li><%= link_to_user contributor %>
          <span style="display: inline-block"> <%= follow_button(contributor) %> </span>
        </li>
      <% end %>
    </ul>
    <%= paginate @contributors %>
  </div>
<% end %>
