/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap-flatty
 *= require bootstrap-tagsinput
 *= require font-awesome
 *= require highlightjs
 *= require rails_bootstrap_forms
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree ./application
 *= require_self
 */

.lang-selector {
    padding-top: 25px;
}

.hljs {
    background-color: transparent;
}

.alert-danger a {
    color: greenyellow;
}

.white-font {
  color:white;
  text-shadow: 2px 2px 5px #222222;
}


.special-icon:hover {
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
  transform: scale(1.35);
}

.special-button:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}


.ha-bg-parallax {

    background: image-url('team_picture.jpg') 50% 0px no-repeat fixed;

    -moz-background-size: cover;

    -o-background-size: cover;

    -webkit-background-size: cover;

    background-size: cover;

    height: 300px;

    margin: 0 auto;

    width: 100%;

    display: table;

    vertical-align: middle;

}

.exercise-search-box {
  width: 263px;
  position: fixed
}

.exercise-panel {
  background-color: ghostwhite;
}
