@import "mumuki-styles";
@import "application/vendor";
@import "application/hovers";
@import "application/mixins";
@import "application/layout";
@import "application/invitations";
@import "application/modules";
@import "application/errors";
@import "application/alerts";

$brand-broken: #651621;
.bs-callout-broken {
  border-left-color: $brand-broken;
  h4 {
    color: $brand-broken;
  }
}

.progress-list-flex .broken {
  background-color: $brand-broken;
}

.text-broken,
.text-broken:hover {
  color: $brand-broken;
}
