/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require highlightjs
 *= require bootstrap
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 */
body {
    padding-top: 60px;
}

.navbar-default {
    background-image: none;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 15px;
}

.page-header {
    margin-top: 20px;
}

.gh-ribbon {
    z-index: 1040;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.hljs {
    background-color: #f5f5f5;
}

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput .label {
    font-size: 13px;
}

.taglist-box.readonly [data-role="remove"] {
    display: none;
}
#ta { 
    height: 300px;
}