@import "application/vendor";

@import "application/mixins";
@import "application/colors";
@import "application/layout";
@import "application/modules";
@import "application/fonts";



.lang-selector {
    padding-top: 25px;
}

.hljs {
    background-color: transparent;
}

.alert-danger a {
    color: greenyellow;
}

.white-font {
  color:white;
}


.special-icon:hover {
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
  transform: scale(1.35);
}

.special-button:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}


.ha-bg-parallax {

    background: image-url('team_picture_shadow.jpg') 50% 0px no-repeat fixed;

    -moz-background-size: cover;

    -o-background-size: cover;

    -webkit-background-size: cover;

    background-size: cover;

    height: 300px;

    margin: 0 auto;

    width: 100%;

    display: table;

    vertical-align: middle;

}

.exercise-search-box {
  width: 263px;
  position: fixed
}

.exercise-panel {
  background-color: ghostwhite;
}

.actions {
  text-align: right;
}

.pagination-inline {
   margin: 21px 0;
}

.profile-image-nav {
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body.modal-open #wrap{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.modal-backdrop {background: #f7f7f7;}

.modal .container {
  margin-top: 110px;
}

.popover{
  width: 700px;
  max-width: 710px;
}

#login-modal {
  padding-right: 0px !important;
}

.modal-open {
  padding-right: 0px !important;
}

.submission-results {
  margin-top: 15px;
}

.mumuki-description .row {
  margin: 10px 45px 65px 45px;
}

.mumuki-description .fa {
  font-size: 80px;
  margin-top: 50px;
}
a.text-info:hover {
  color: #3498db;
}

a.text-warning:hover {
  color: #f39c12;
}

a.text-danger:hover {
  color: #d62c1a;
}

.call-to-action {
  font-size: 20px;
}

.btn.call-to-action {
  background-color: #DA5823;
  border-color: #D7521C;
}

.btn.call-to-action:hover {
  background-color: #BD410F;
  border-color: #943A15;
}

.submission-results .panel-heading h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submission-results .panel-heading {
  padding-top: 6px;
  padding-bottom: 6px;
}

.results-item {
  margin-top: 10px;
}

ul.results-list {
  list-style-type: none;
  padding-left: 10px;
}

.results-list pre {
  margin-left: 15px;
}

.editor-tab {
 padding: 5px 10px 5px 10px !important;
}

.editor-pane  {
  margin-top: 5px;
}