<div class="row">
  <div class="col-md-12 exercise-assignment">
    <%= yield :assignment %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 ace-editor-col">
    <%= render partial: 'layouts/submissions/editor/form', locals: {editor_mode: :visible} %>
  </div>
</div>

<div class="scroll-pin">
  <%= yield :submission_results %>
</div>
