<div class="row">
  <div class="col-md-6 exercise-assignment">
    <%= yield :assignment %>
  </div>
  <div class="col-md-6 ace-editor-col">
    <%= render partial: 'layouts/submissions/editor/form', locals: {editor_visible: true} %>
  </div>
</div>

<div class="scroll-pin">
  <%= yield :submission_results %>
</div>
