<%= bootstrap_form_for(@guide, html: {role: 'form'}) do |f| %>
  <%= f.text_field :original_id %>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to t('cancel'), :back, class: 'btn btn-default' %>
  </div>
<% end %>
