  <tr class="nested-fields">
    <td><%= f.text_field :inspection, hide_label: true %></td>
    <td><%= f.text_field :binding, hide_label: true %></td>
    <td><%= link_to_remove_association fa_icon('times'), f %></td>
  </tr>
