<% content_for :no_container do %>

    <div class="mu-kids-exercise container-fluid">
      <div class="row">

        <div class="mu-kids-exercise-description col-md-8">
          <div class="mu-kids-character">
            <%= yield :submission_results %>
          </div>
          <div class="mu-kids-blocks">
            <%= render partial: 'layouts/exercise_inputs/forms/kids_form' %>
          </div>
        </div>

        <div class="mu-kids-board col-md-4">
          <div class="mu-kids-gbs-board-expected">
            <%= @exercise.final_state.html_safe %>
          </div>
          <div class="mu-kids-gbs-board-actual">
            <%= @exercise.initial_state.html_safe %>
          </div>
        </div>
      </div>

    </div>
<% end %>
