<% content_for :no_container do %>

    <div class="mu-kids-exercise container-fluid">
      <div class="row">

        <div class="mu-kids-exercise-description col-md-8">
          <div class="mu-kids-character">
            CHARACTER
          </div>
          <div class="mu-kids-blocks">
            BLOCKS
          </div>
        </div>

        <div class="mu-kids-board col-md-4">
          <div class="mu-kids-gbs-board-expected">
            EXPECTED
          </div>
          <div class="mu-kids-gbs-board-actual">
            ACTUAL
          </div>
        </div>
      </div>

    </div>
<% end %>
