<div class="row">
  <div class="col-lg-6 exercise-assignment">
    <%= yield :assignment %>
  </div>
  <div class="mu-exercise-content col-lg-6 ace-editor-col">
    <%= yield :exercise_content %>
  </div>
</div>

<div class="scroll-pin">
  <%= yield :submission_results %>
  <%= render partial: 'layouts/submission_result_error' %>
</div>
