<% content_for :no_container do %>

    <div class="mu-kids-exercise container-fluid">
      <div class="row">

        <div class="mu-kids-exercise-description col-md-8">
          <div class="mu-kids-character">
            <%= yield :submission_results %>
          </div>
          <div class="mu-kids-blocks">
            <%= render partial: 'layouts/exercise_inputs/forms/kids_form' %>
          </div>
        </div>

        <div class="mu-kids-board col-md-4">
          <div class="mu-kids-gbs-board-expected">
            <gs-board>
              GBB/1.0
              size 4 3
              cell 1 2 Azul 0 Negro 0 Rojo 8 Verde 0
              cell 3 2 Azul 2 Negro 0 Rojo 5 Verde 1
              cell 2 1 Azul 0 Negro 6 Rojo 0 Verde 0
              head 1 2
            </gs-board>
          </div>
          <div class="mu-kids-gbs-board-actual">
            <gs-board>
              GBB/1.0
              size 4 3
              cell 1 2 Azul 0 Negro 0 Rojo 8 Verde 0
              cell 3 2 Azul 2 Negro 0 Rojo 5 Verde 1
              cell 2 1 Azul 0 Negro 6 Rojo 0 Verde 0
              head 1 2
            </gs-board>
          </div>
        </div>
      </div>

    </div>
<% end %>
