.organization-row {
  height: 50px;
  margin-bottom: 20px;
}

.organization-link {
  line-height: 50px;
}

.no-padding-sides {
  padding-right: 0;
  padding-left: 0;
}

.title-font {
  font-size: 1.33em;
}
