$brand-complementary:   #FF5B81;
$brand-primary:         #0B465D;
$brand-info:            #3498DB;

$brand-success:         #5cb85c;
$brand-warning:         #F39C12;
$brand-danger:          #d9534f;

$brand-info-light:      lighten($brand-info, 35%);
$brand-info-lighter:    #f4f6fb;

$brand-success-light:      lighten($brand-success, 35%);
$brand-warning-light:      lighten($brand-warning, 35%);
$brand-danger-light:      lighten($brand-danger, 35%);

$link-color:            $brand-info;

$code-color:                  $brand-info;
$code-bg:                     $brand-info-lighter;

$navbar-default-link-hover-color:           $brand-info-light;
$navbar-inverse-bg:                         $brand-info;
$navbar-inverse-link-hover-color:           $brand-primary;

$btn-success-bg:               $brand-complementary;
//$btn-success-bg:                 $brand-success;
