.error-message {
  text-align: center;
  color: #0B465D;
  width: 500px;
  margin: auto;
}
.error-message .header img {
  display: block;
  margin: 30px auto;
}
.error-message .body {
  margin-bottom: 30px;
}
.error-message .body p {
  line-height: 1.5em;
}
.error-message .primary {
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  background-color: #FF5B81;
}
