$font-size-base:          17px !default;
$line-height-base:        1.8 !default;

@font-face {
  font-family: "AhahaMojimoji";
  src: url(asset-path('AhahaMojimoji.woff')) format("woff"),
       url(asset-path('AhahaMojimoji.ttf')) format("ttf"),
       url(asset-path('AhahaMojimoji.svg')) format("svg");
}

.ahahamojimoji {
  font-family: "AhahaMojimoji", Verdana, Tahoma;
}
