.messages-box-empty {
  display: none;
}

.badge-messages {
  background-color: $brand-complementary;
}

.pending-messages-text {
  float: left;
  text-align: center;
  position: absolute;
  top: 200px;
  z-index: 9999;
}

.pending-messages-filter {
  filter: blur(0.6em);
  pointer-events: none;
}
