$brand-primary:         #2C4250;
$brand-info:            #3498DB;

$brand-info-light:            #5bc0de;
$brand-info-lighter:          #f4f6fb;

$brand-success:         #5cb85c;
$brand-warning:         #F39C12;
$brand-danger:          #d9534f;

$link-color:            $brand-info;

$code-color:                  $brand-info;
$code-bg:                     $brand-info-lighter;

$navbar-default-link-hover-color:           $brand-info-light;
$navbar-inverse-bg:                         $brand-info;
$navbar-inverse-link-hover-color:           $brand-primary;

