.profile-picture {
  position: relative;
  display: inline-block;
}

.mu-avatar-field {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mu-avatar-image {
  cursor: pointer;
}

.mu-avatar-image:hover {
  filter: brightness(50%);
}

.mu-avatar-overlay {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  width: 135px;
  height: 83px;
  color: white;
  font-size: medium;
  pointer-events: none;
  display: none;
}
