<% if guide.authors.present? %>
  <%= content_for :authoring do %>
    <p class="small">
      <% if embedded_mode? %>
        <span class="d-md-none">
          <%= render partial: 'layouts/copyright' %> -
        </span>
      <% end %>
      <%= attribution_caption(guide) %>
    </p>
  <% end %>
<% end %>
