<section>
  <p>
    <%= exercise.description_html %>
  </p>
</section>

<% if exercise.hint %>
  <section>
    <a data-toggle="collapse"
       href="#hint-section">
      <%= label :exercise, :hint %>
    </a>

    <div id="hint-section" class="collapse">
      <p>
        <%= exercise.hint_html %>
      </p>
    </div>
  </section>
<% end %>
