<div class="mu-content-title-icons">
  <% if current_user? && should_display_medal?(@guide, Organization.current) %>
      <%= content_medal_for(@guide, current_user) %>
  <% end %>
<%= teacher_info_button @guide %>
<%= link_to_bibliotheca_guide @guide %>
</div>
