<img src="/anim_amarillo.svg" alt="">
<div class="mu-kids-character-speech-bubble">
  <%= @exercise.description_html %>
  <i class="mu-kids-prev-speech fa fa-fw fa-caret-up"></i>
  <i class="mu-kids-next-speech fa fa-fw fa-caret-down"></i>
</div>
