<% current_immersive_organizations.each do |organization| %>
    <div class="row">
      <div class="col-md-6 organization-row">
        <%= image_tag(organization.banner_url, height: 50, class: 'float-start') %>
      </div>
      <div class="col-md-6 organization-row">
        <%= link_to(t(:go_to, organization: organization.name), current_immersive_path(organization), class: 'btn btn-success float-end') %>
      </div>
    </div>
<% end %>
