<% current_user.accessible_organizations.each do |org| %>
    <div class="row">
      <div class="col-md-6 organization-row">
        <%= image_tag(org.logo_url, height: 50, class: 'pull-left') %>
      </div>
      <div class="col-md-6 organization-row">
        <%= link_to("Ir a #{org.relative_link}", org.absolute_link(request.path), class: 'btn btn-success pull-right') %>
      </div>
    </div>
<% end %>
