<% if current_user.student_granted_organizations.empty? %>
  <%= t :not_in_any_organizations %>
<% else %>
  <% organizations_for(current_user).each do |org| %>
      <div class="col-md-6 mu-organization-card <%= org.public? ? 'public' : 'private' %>">
        <div class="mu-organization-card-header">
          <%= image_tag(org.banner_url, alt: org.display_name, height: 50, class: 'pull-left') %>
        </div>
        <div class="mu-organization-card-body" style="text-align: center; ">
          <p><%= org.display_name %></p>
        </div>
      </div>
  <% end %>
<% end %>
