<% if current_user.student_granted_organizations.empty? %>
  <%= t :not_in_any_organizations %>
<% else %>
  <% organizations_for(current_user).each do |org| %>
      <div class="row">
        <div class="col-md-6 organization-row">
          <%= image_tag(org.banner_url, height: 50, class: 'pull-left') %>
        </div>
        <div class="col-md-6 organization-row">
          <%= link_to(t(:go_to, organization: org.name), current_immersive_path(org), class: 'btn btn-success pull-right') %>
        </div>
      </div>
  <% end %>
<% end %>
