<ul class="progress-listing">
  <% exercises.each do |exercise| %>
    <% cache [exercise, exercise.status_for(current_user)] do %>
      <li>
        <%= exercise_status_icon exercise %>
        <%= link_to_path_element(exercise) %>
      </li>
    <% end %>
  <% end %>
</ul>
