<div class="bs-callout bs-callout-broken submission-result-error" style="display: none;">
  <h4>
    <strong><%= t :errored %></strong>
  </h4>
  <div class="submission-result-error-body">
    <img id="submission-result-error-animation"/>
    <ul class="submission-result-error-body-description">
      <%= raw t :abort_explanation %>
    </ul>
  </div>
</div>
