<div class="bs-callout bs-callout-broken submission-result-error" style="display: none;">
  <h4>
    <strong><%= t(:errored) %></strong>
  </h4>
  <div class="submission-result-error-body">
    <img id="submission-result-error-animation"/>
    <ul class="submission-result-error-body-description">
      <li>Fijate que tu programa no tenga recursi칩n o bucle infinito</li>
      <li>Cheque치 que tengas conexi칩n a internet</li>
      <li>Un texto m치s que hay que verlo</li>
    </ul>
  </div>
</div>
