<div class="submission-result-error-body">
  <img class="submission-result-error-animation"/>
  <ul class="submission-result-error-body-description">
    <%= t :abort_explanation_html %>
  </ul>
</div>
