<ul class="results-list">
<% test_results.each do |test_result| %>
  <li>
  <%= status_icon(test_result[:status]) %>
  <% if test_result[:status] == :failed %>
    <strong class="example-title"><%= test_result[:title] %></strong>
    <div class="example-result"><%= output_content_type.to_html test_result[:result] %></div>
  <% else %><span class="example-title"><%= test_result[:title] %></span>
  <% end %>
  </li>
<% end %>
</ul>
