<% test_results.each do |test_result| %>
  <%= status_icon(test_result[:status]) %>
  <% if test_result[:status] == :failed %>
    <strong class="example-title"><%= test_result[:title] %></strong>
    <div class="example-result"><%= test_result[:result] %></div>
  <% else %><span class="example-title"><%= test_result[:title] %></span>
  <% end %>
<% end %>
