<div class="row">
  <div class="text-center">
    <i class="timer text-center far fa-clock"></i>
    <i class="timer timer-text text-center"><%= t :time_left %></i>
    <i id="timer" class="timer timer-text text-center"></i>
    <script>
      mumuki.startTimer(<%= duration %>);
    </script>
  </div>
</div>
