<div class="row">
  <div class="col-md-3 col-md-offset-5">
    <i class="timer text-center far fa-clock"></i>
    <i class="timer timer-text text-center"><%= t :time_left %></i>
    <i id="timer" class="timer timer-text text-center"></i>
    <script>
      mumuki.startTimer('<%= end_time&.iso8601 %>');
    </script>
  </div>
</div>
