<div class="col-md-3 mu-tab-body mu-user-menu">
  <div>
    <div class="mu-user-menu-section">
      <div class="mu-user-menu-header">
        <%= t(:my_account) %>
      </div>
      <div class="mu-user-menu-item">
        <%= profile_user_menu_link %>
      </div>
    </div>
  </div>
  <div class="mu-user-menu-vertical-divider hidden-sm hidden-xs"></div>
</div>
