<!DOCTYPE html>
<html>
<head>
  <title>Mumuki</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script>$(function(){
      hljs.initHighlightingOnLoad();
  })</script>
</head>
<body>

<%= yield %>

</body>
</html>
