<!DOCTYPE html>
<html>
<head>
  <title>Mumuki</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>


  <script>$(function(){
      hljs.initHighlightingOnLoad();
  })</script>
</head>
<body>

<%= yield %>

</body>
</html>
